<main class="fs">
  <h1 class="title">flex-shrink</h1>
  <div class="content">

    <div class="example-outer">
      <section class="example-inner" ng-style="{flexShrink: flexShrinkCtrl.value1}">
        <md-input-container>
          <label>flex-shrink</label>
          <input type="number" min="0" ng-model="flexShrinkCtrl.value1">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{flexShrink: flexShrinkCtrl.value2}">
        <md-input-container>
          <label>flex-shrink</label>
          <input type="number" min="0" ng-model="flexShrinkCtrl.value2">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{flexShrink: flexShrinkCtrl.value3}">
        <md-input-container>
          <label>flex-shrink</label>
          <input type="number" min="0" ng-model="flexShrinkCtrl.value3">
        </md-input-container>
      </section>
    </div>


  </div>
</main>
