<main class="o">
  <h1 class="title">order</h1>
  <div class="content">

    <div class="example-outer">
      <section class="example-inner" ng-style="{order: orderCtrl.value1}">
        <p class="original"> original order 1</p>
        <md-input-container>
          <label>order</label>
          <input type="number" min="0" ng-model="orderCtrl.value1">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{order: orderCtrl.value2}">
        <p class="original"> original order 2</p>
        <md-input-container>
          <label>order</label>
          <input type="number" min="0" ng-model="orderCtrl.value2">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{order: orderCtrl.value3}">
        <p class="original"> original order 3</p>
        <md-input-container>
          <label>order</label>
          <input type="number" min="0" ng-model="orderCtrl.value3">
        </md-input-container>
      </section>
    </div>

  </div>
</main>
