<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice CSS Flexbox</title>
    <base href="/practice-css-flexbox">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.css">
    <link rel="stylesheet" href="styles/main.min.css">
  </head>
  <body>
    <section flex layout="column" layout-fill ng-controller="SideNavController as sideNavCtrl">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Practice CSS Flexbox</h1>
        <md-button ng-click="sideNavCtrl.toggle()" class="md-primary" hide-gt-md>toggle</md-button>
      </md-toolbar>
      <md-content flex layout="row">
        <md-sidenav flex class="md-sidenav-left md-whiteframe-z2" md-component-id="sideNav" md-is-locked-open="$mdMedia('gt-md')">
          <md-list>
            <md-subheader class="md-no-sticky">flex container</md-subheader>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">display-flex</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">flex-direction</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">flex-wrap</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">justify-content</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">align-items</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">align-content</md-list-item>

            <md-subheader class="md-no-sticky">flex item</md-subheader>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">flex-grow</md-list-item>
            <!-- <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">flex-shrink</md-list-item> -->
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">flex-basis</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">align-self</md-list-item>
            <md-list-item class="nav-list-item" ng-click="sideNavCtrl.gotoPage($event)">order</md-list-item>
          </md-list>
        </md-sidenav>
        <md-content flex layout-padding layout="column" layout-fill layout-align="top center">
          <div ng-view></div>
        </md-content>
      </md-content>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.1/angular-material.min.js"></script>
    <script src="scripts/main.min.js"></script>
  </body>
</html>
