<main class="at">
<h1 class="title">align-items</h1>
  <div class="content">

    <div class="example-outer" ng-style="{alignItems: alignItemsCtrl.value}">

      <md-input-container class="prop-select">
        <label>align-items</label>
        <md-select ng-model="alignItemsCtrl.value">
          <md-option value="flex-start">flex-start</md-option>
          <md-option value="flex-end">flex-end</md-option>
          <md-option value="center">center</md-option>
          <md-option value="stretch">stretch</md-option>
          <md-option value="baseline">baseline</md-option>
        </md-select>
      </md-input-container>

      <section class="example-inner"><p class="example-inner__index">1</p></section>
      <section class="example-inner"><p class="example-inner__index">2</p></section>
      <section class="example-inner"><p class="example-inner__index">3</p></section>
    </div>

  </div>
</main>
