<main class="fg">
  <h1 class="title">flex-grow</h1>
  <div class="content">

    <div class="example-outer">
      <section class="example-inner" ng-style="{flexGrow: flexGrowCtrl.value1}">
        <md-input-container>
          <label>flex-grow</label>
          <input type="number" min="0" ng-model="flexGrowCtrl.value1">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{flexGrow: flexGrowCtrl.value2}">
        <md-input-container>
          <label>flex-grow</label>
          <input type="number" min="0" ng-model="flexGrowCtrl.value2">
        </md-input-container>
      </section>
      <section class="example-inner" ng-style="{flexGrow: flexGrowCtrl.value3}">
        <md-input-container>
          <label>flex-grow</label>
          <input type="number" min="0" ng-model="flexGrowCtrl.value3">
        </md-input-container>
      </section>
    </div>

  </div>
</main>
