html{
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* links
-------------------------------------------- */
a {
  color: #1EAEDB;
}
a:hover {
  color: #0FA0CE;
}
